:host {
  /* Colors */
  --swc-button-bg-color: var(--deep-purple-accent-3);
  --swc-button-color: var(--white);

  /* Borders */
  --swc-button-border-radius: 10px;

  /* Paddings */
  --swc-button-padding: 12px 20px;

  /* Fonts */
  --swc-button-font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  --swc-button-font-size: 14px;
}

:host([appearance="outlined"]) .button {
  border: 2px solid var(--swc-button-bg-color);
}

:host([appearance="outlined"]) .button,
:host([appearance="standard"]) .button {
  background-color: transparent;
  color: var(--swc-button-bg-color);
}

:host([appearance="outlined"]) .button:hover .button__hover::before,
:host([appearance="standard"]) .button:hover .button__hover::before {
  background-color: var(--swc-button-bg-color);
  opacity: .08;
}

.button {
  position: relative;
  border: none;
  padding: var(--swc-button-padding);
  border-radius: var(--swc-button-border-radius);
  font-family: var(--swc-button-font-family);
  font-size: var(--swc-button-font-size);
  background-color: var(--swc-button-bg-color);
  color: var(--swc-button-color);
  transition: .2s all;
  cursor: pointer;
  overflow: hidden;
}

.button__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__hover::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.button:hover .button__hover::before {
  background-color: rgba(255, 255, 255, 1);
  opacity: .2;
}
